
{% extends 'moodle/global.html' %}
{% block content %}
  <h1 class="text-info mb-4">{{user.name}} essas são suas provas:</h1>
  <h2 class="mb-5">Para montar a sua prova<a href="{% url 'moodle:provas-create' %}"> Clique aqui.</a></h2>
  {% if provasabertas %}
    <div class="container text-center bg-dark mb-5">
      <h3 class="text-light p-3">Provas que estão disponíveis:</h3>
      {% for prova in provasabertas %}

      <div class="row bg-light">
        <div class="col-sm-8 mb-3">
          <div class="d-flex justify-content-between">
            <h5 class="text-dark text-md mt-3 ml-3" >Descrição: {{prova.descricao}}</h5>
            <h5 class="text-dark text-md mt-3" >Disciplina: {{prova.disciplina}}</h5>
          </div>

          <p>
            <button class="btn btn-primary mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Questões da prova
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              {% for questao in prova.questao.all %}
              <div class="row bg-light">
                <div class="col-sm-8">
                  <p>{{ forloop.counter }}) {{questao.enunciado}}</p>

                </div>

                <div class="col-sm-2">
                  Valor: {{questao.peso}}
                </div>
                <div class="col-sm-2">
                  Gabarito: {{questao.gabarito}}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
        <div class="col-sm-4 mb-auto">
          <p class="text-info mt-3">Valor da prova: {{prova.nota_total}}</p>
          <a class="btn btn-primary mb-3 mt-2"href="{% url 'moodle:provas-update' prova.id %}" role="button">Editar prova</a>
          <a class="btn btn-primary mb-3 mt-2"href="{% url 'moodle:finalizar-prova' prova.id %}" role="button">Finalizar prova</a>

        </div>
      </div>
      <span class="text-dark">a</span>
      {% endfor %}

    </div>
  {% endif %}


  {% if provasfinalizadas %}
    <div class="container text-center bg-secondary mb-5">
      <h3 class="text-light p-3">Provas que foram finalizadas</h3>
      {% for prova in provasfinalizadas %}

      <div class="row bg-light">
        <div class="col-sm-8 mb-3">
          <div class="d-flex justify-content-between">
            <h5 class="text-dark text-md mt-3 ml-3" >Descrição: {{prova.descricao}}</h5>
            <h5 class="text-dark text-md mt-3" >Disciplina: {{prova.disciplina}}</h5>
          </div>
          <p>
            <button class="btn btn-primary mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Questões da prova
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              {% for questao in prova.questao.all %}
              <div class="row bg-light">
                <div class="col-sm-8">
                  <p>{{questao.enunciado}}</p>

                </div>

                <div class="col-sm-2">
                  Valor: {{questao.peso}}
                </div>
                <div class="col-sm-2">
                  Gabarito: {{questao.gabarito}}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
        <div class="col-sm-4 mb-auto">
          <p class="text-info mt-5">Valor da prova: {{prova.nota_total}}</p>
          <p class="text-info mt-3">Data de finalização: {{prova.data}}</p>
          <p class="text-info mt-3"><a href="{% url 'moodle:alunos-provas' prova.id %}">Alunos que fizeram</a></p>
        </div>
      </div>
      <span class="text-secondary">a</span>
      {% endfor %}

    </div>
  {% endif %}
{% endblock content %}
