{% extends 'moodle/global.html' %}
{% block content %}

  <h1 class="mb-3">CURSO: <span class="text-info">{{disciplina.nome}}</span></h1>
  <div class="container bg-light">
    <div class="d-flex justify-content-between">
      <h3 class="mb-3 mr-3">Professor: <span class="text-info">{{disciplina.professor}}</span></h3>
      <h3 class="mb-3">Aluno: <span class="text-info">{{aluno}}</span></h3>
    </div>
    <div class="container ml-4">
      <h5 class="mt-4">Provas disponíveis para serem feitas:</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Prova</th>
            <th scope="col">Valor da prova</th>
          </tr>
        </thead>
        <tbody>
          {% for prova in provas_diponiveis %}
          <tr>
            <td><a href="{% url 'moodle:exibir-prova' prova.id %}">{{prova.descricao}}</a></td>
            <td>{{prova.nota_total}}</td>

          </tr>
        {% endfor %}
        </tbody>
      </table>

    <h5 class="mt-5">Provas feitas:</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Prova</th>
            <th scope="col">Nota Máxima</th>
            <th scope="col">Resultado</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
        {% for prova, desempenho in provas_feitas %}
          <tr>
            <td>{{prova.descricao}}</td>
            <td>{{prova.nota_total}}</td>
            <td>{{desempenho.nota}}</td>
            <td>{{desempenho.data}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table


{% endblock %}

