<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>CURSO: {{disciplina.nome}}</h1>
    <h3>Professor: {{disciplina.professor}}</h3>

    <p>Provas disponíveis para serem feitas:</p>
    <ul>
      {% for prova in provas %}
        <li><a href="{% url 'moodle:exibir-prova' prova.id %}">{{prova.descricao}}</a></li>
      {% endfor %}
    </ul>
</body>
</html>
