{% extends 'moodle/global.html' %}
{% block content %}
    <h1 class="mb-3">Bem-Vindo aluno: <span class="text-success">{{user.name}}</span></h1>
    <h4 class='text-info mb-4'>Esses são seus cursos cadastrados!</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Curso</th>
          <th scope="col">Professor</th>
        </tr>
      </thead>
      <tbody>
        {% for curso in cursos %}
        <tr>
          <td><a href="{% url 'moodle:curso-detail' curso.id%}">{{curso.nome}}</a></td>
          <td>{{curso.professor}}</td>

        </tr>
      {% endfor %}
      </tbody>
    </table>

{% endblock content %}
